<footer class="footer">
  <div class="footer__localtion">
    <img class="footer__location--logo" src="assets/img/WFM.png">
    <li class="footer__location--item"><a href="tel:+258847426835">+258 84 742 6835</a>&nbsp; <a
        href="tel:+258826335428">+258 82 633 5428</a></li>
    <li class="footer__location--item">Av. Karl Marx, Nr 995, 1º andar</li>
    <li class="footer__location--item">Maputo - Moçambique</li>
    <p class="footer__location--rights">Todos direitos reservados &copy; 2022</p>
  </div>
  <div class="footer__menu">
    <h2 class="footer__menu--title">Siga-nos</h2>
    <li class="footer__menu--link"><img src="assets/img/facebook.png"> Facebook</li>
    <li class="footer__menu--link"><img src="assets/img/twitter.png"> Twitter</li>
    <li class="footer__menu--link"><img src="assets/img/instagram.png"> Instagram</li>
    <li class="footer__menu--link"><img src="assets/img/linkdin.png"> LinkdIn</li>
  </div>
  <div class="footer__menu">
    <h2 class="footer__menu--title">Empresa</h2>
    <li class="footer__menu--link">Contacto</li>
    <li class="footer__menu--link">Ajuda</li>
    <li class="footer__menu--link">Sobre nós</li>
    <li class="footer__menu--link">Vagas</li>
    <li class="footer__menu--link">Perguntas frequentes</li>
  </div>
  <div class="footer__subscribe">
    <h2 class="footer__menu--title">Newsletter</h2>
    <div class="footer__subscribe--input">
      <input class="form__input" type="email" placeholder="email">
      <button><img src="assets/img/subscribe.png"></button>
    </div>
  </div>
</footer>
