<div class="banner contact">
  <form class="contact__form">
    <span class="title--mini">CANDIDATAR-SE</span>
    <h2 class="title--2">Minha candidatura</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum provident ea quisquam voluptatibus pariatur
      incidunt? Doloribus temporibus deleniti architecto perspiciatis deserunt sed dolores voluptate minima!</p>

    <div class="form__group">
      <label class="form__label">Nome completo</label>
      <input type="text" class="form__input" placeholder="Nome">
    </div>
    <div class="form__flex">
      <div class="form__group w-50">
        <label class="form__label">Contacto</label>
        <input type="tel" class="form__input" placeholder="+258 XXXXXXXXX">
      </div>
      <div class="form__group w-50">
        <label class="form__label">Email</label>
        <input type="email" class="form__input" placeholder="exemplo@email.com">
      </div>
    </div>
    <div class="form__group">
      <label class="form__label">Curriculum</label>
      <input type="file" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" class="form__input"
        placeholder="Carregar curriculum">
    </div>
    <button class="btn btn--main btn--full">Enviar</button>
  </form>
</div>
