.feedback {
  background-image: url('/assets/img/feedback.jpg');
  // background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: calc(8rem + 100%);
  transform: translateX(-4rem);
  padding: 4rem 8rem;
  color: $color-white;
  position: relative;

  @include respond(phone) {
    padding: 4rem;
  }

  &__cover {
    background-color: rgba($color-main, .8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  span {
    text-align: start;
    color: rgba($color-white, .8);
  }

  &__list {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-wrap: wrap;
    }
  }

  &__item {
    h4 {
      margin-bottom: 2rem;
      margin-top: .3rem;
      opacity: .7;
    }

    width: calc(100% / 3.5);
    margin: 0 .5rem;

    @include respond(phone) {
      width: 28rem;
    }
  }
}
