.about {
  min-height: 20vh;

  img {
    width: 45rem;
    height: 30rem;
    object-fit: cover;

    @media (max-width: 37.5em) {
      width: 100%;
    }
  }
}

.about__content--picture {
  @media (max-width: 37.5em) {
    float: unset;
    margin: 2rem 0;
  }
}
