<div class="about">
  <div class="about__content">
    <div class="about__content--picture">
      <img src="assets/img/logo.png" />
    </div>
    <div class="about__content--text">
      <h1 class="title--2">
        Siba mais sobre nossa <br />
        a empresa
      </h1>
      <p>
        A WFM CONSULTORES LDA., está localizada na Cidade de Maputo, Avenida
        Karl Marx, N˚ 995, 1˚ Andar. A sociedade surge com objectivo de actuar
        na área de consultoria em Recursos Humanos, proporcionando serviços de
        elevada qualidade aos seus clientes.
      </p>
      <h2 class="title--3">Consultoria em Recursos Humanos</h2>
      <p>
        Consiste no trabalho realizado por uma equipa especializada, que analisa
        o ambiente organizacional dos clientes, focando na gestão de pessoas e
        nas relações interpessoais com o objectivo de elaborar um diagnóstico do
        cenário actual e propor estratégias para melhorar o desempenho da
        empresa.
      </p>
      <h2 class="title--3">O que fazemos</h2>
      <p>• Recrutamento, Selecção e Desenvolvimento de Mão de Obra</p>
      <p>• Elaboração de Contratos</p>
      <p>• Gestão de Claims e Assessoria Jurídica</p>
      <p>• Processamento de Salário e Pagamento de Impostos</p>
      <p>• Obtenção de Permissão de Trabalho e Vistos</p>
    </div>
  </div>
  <div class="about__shorts">
    <div class="about__shorts--content">
      <img src="assets/img/img-1.png" />
      <h3 class="title--4">Missão</h3>
      <p>
        Proporcionar aos seus clientes um serviço de consultoria de qualidade
        com vista a sua satisfação.
      </p>
    </div>
    <div class="about__shorts--content">
      <img src="assets/img/img-2.png" />
      <h3 class="title--4">Visão</h3>
      <p>
        Tornar-se referência nacional na prestação de serviços de consultoria de
        Recursos Humanos.
      </p>
    </div>
    <div class="about__shorts--content">
      <img src="assets/img/img-3.png" />
      <h3 class="title--4">Valores</h3>
      <li>&bullet; Compromisso com o cliente</li>
      <li>&bullet; Profissionalismo</li>
      <li>&bullet; Ética</li>
      <li>&bullet; Honestidade;</li>
    </div>
  </div>
</div>

<div class="banner justify-center">
  <div class="banner__item">
    <h2 class="title--3 underline">Recursos humanos</h2>
    <p>
      Consiste no trabalho realizado por uma equipa especializada, que analisa o
      ambiente organizacional dos clientes, focando na gestão de pessoas e nas
      relações interpessoais com o objectivo de elaborar um diagnóstico do
      cenário actual e propor estratégias para melhorar o desempenho da empresa.
    </p>
  </div>
</div>
