<app-header></app-header>
<div class="empresa">
  <img class="empresa__logo" src="assets/img/logo.png" alt="WFM" />

  <div class="empresa__content">
    <h2 class="title--2">
      Saiba mais sobre a nossa <br />
      empresa
    </h2>
    <p>
      A WFM CONSULTORES LDA., está localizada na Cidade de Maputo, Avenida Karl
      Marx, N˚ 995, 1˚ Andar. A sociedade surge com objectivo de actuar na área
      de consultoria em Recursos Humanos, proporcionando serviços de elevada
      qualidade aos seus clientes.
    </p>
    <p>
      Consiste no trabalho realizado por uma equipa especializada, que analisa o
      ambiente organizacional dos clientes, focando na gestão de pessoas e nas
      relações interpessoais com o objectivo de elaborar um diagnóstico do
      cenário actual e propor estratégias para melhorar o desempenho da empresa.
    </p>
    <a class="link" routerLink="/sobre">SAIBA MAIS</a>

    <div class="empresa__circle">
      <div class="empresa__circle--item" routerLink="/sobre">
        <span> Missão</span>
      </div>
      <div class="empresa__circle--item" routerLink="/sobre">
        <span>Visão</span>
      </div>
      <div class="empresa__circle--item" routerLink="/sobre">
        <span>Valores</span>
      </div>
    </div>
  </div>
</div>

<div class="banner contacto">
  <div class="banner__item">
    <h2 class="title--3 underline">VAGAS - Deixe o seu CV</h2>
    <p>
      Caro/a candidato/a partilhe connosco o seu Curriculum Vitae para constar da nossa base de dados e confira as vagas
      disponÍveis.
    </p>
    <button class="btn btn--white" routerLink="/enviar-cv">Enviar CV</button>
  </div>

  <div class="banner__item">
    <h2 class="title--3 underline">Disponibilize a sua vaga</h2>
    <p>Prezado/a queira fazer uso da nossa página para divulgar a sua necessidade de pessoal. Por favor disponibilize
      abaixo a vaga de emprego, com todas especificações que pretende esclarecer aos candidatos.
    </p>
    <button class="btn btn--white" routerLink="/enviar-vaga">Disponibilizar vaga</button>
  </div>
</div>

<div class="container" id="servicos">
  <span class="title--mini">Nossos serviços</span>
  <h2 class="title--2">
    O que fazemos para melhor <br />
    atendê-lo
  </h2>

  <div class="cards">
    <div class="card">
      <span class="card__top--right"></span>
      <span class="card__top--left"></span>
      <span class="card__bottom--right"></span>
      <span class="card__bottom--left"></span>
      <h3 class="title--3">Serviços de Contabilidade</h3>
      <li>&blacksquare; Assistência contabilística</li>
      <li>&blacksquare; Processamento de contabilidade</li>
      <li>&blacksquare; Demonstrações financeiras anuais</li>
      <li>&blacksquare; Consolidação de contas</li>
    </div>

    <div class="card">
      <span class="card__top--right"></span>
      <span class="card__top--left"></span>
      <span class="card__bottom--right"></span>
      <span class="card__bottom--left"></span>
      <h3 class="title--3">Fiscalidade</h3>
      <li>&blacksquare; Constituição de empresas</li>
      <li>&blacksquare; Assistência fiscal</li>
      <li>&blacksquare; Verificação e revisão de declarações fiscais</li>
      <li>&blacksquare; Acompanhamento fiscal permanente</li>
      <li>
        &blacksquare; Processo de liquidação e dissolução de empresas/sociedades
      </li>
      <li>&blacksquare; Legalização de expatriados</li>
      <li>&blacksquare; Tributação de expatriados</li>
      <li>&blacksquare; Legalização de transferências de capitais</li>
    </div>

    <div class="card">
      <span class="card__top--right"></span>
      <span class="card__top--left"></span>
      <span class="card__bottom--right"></span>
      <span class="card__bottom--left"></span>
      <h3 class="title--3">Auditoria</h3>
      <li>&blacksquare; Auditoria completa às demonstrações financeiras</li>
      <li>
        &blacksquare; Análise de sistemas contabilísticos e de controlo interno
      </li>
      <li>&blacksquare; Revisão limitada às demonstrações financeiras</li>
      <li>
        &blacksquare; Auditorias específicas (incentivos; despesas; vendas; due
        diligence; etc)
      </li>
      <li>&blacksquare; Auditoria interna</li>
      <li>&blacksquare; Auditoria Fiscal</li>
    </div>
  </div>
</div>

<div class="feedback" id="testemunhas">
  <div class="feedback__cover"></div>
  <span class="title--mini">Testemunhas</span>
  <h2 class="title--2">
    O que nossos queridos <br />
    clientes dizem
  </h2>
  <div class="feedback__list">
    <div class="feedback__item">
      <h3 class="title--4">COOL KING LDA</h3>
      <h4 class="title--5">Director Geral</h4>
      <p>
        Agradecemos a WFM Consultores pelo profissionalismo e Zelo, tem sido nossa parceira e esperamos poder contar
        sempre com os vossos prestimos.
      </p>
    </div>
    <div class="feedback__item">
      <h3 class="title--4">CRD LOGISTIC</h3>
      <h4 class="title--5">Director de Projectos</h4>
      <p>
        A WFM Consultores destingue-se pela capacidade eficiente e eficaz de gestao de Recursos Humanos. É nossa
        parceira desde a criação da CRD LOGISTIC, recomendamos por merito.
      </p>
    </div>
    <div class="feedback__item">
      <h3 class="title--4">CLEANING CORPORATION</h3>
      <h4 class="title--5">Director de Operações</h4>
      <p>
        É gratificante ver o nível de qualidade dos serviços da WFM Consultores, nos sentimos seguros em confiar nos
        vossos serviços.
      </p>
    </div>
  </div>
</div>

<div class="container" id="posts">
  <span class="title--mini">Notícia</span>
  <h2 class="title--2">
    Conheça nossas últimas <br />
    novidades
  </h2>

  <div class="cards">
    <div class="card" *ngFor="let noticia of noticias">
      <span class="card__top--right"></span>
      <span class="card__top--left"></span>
      <span class="card__bottom--right"></span>
      <span class="card__bottom--left"></span>
      <img class="card__img" [src]="'data:image/png;base64,'+noticia.image" alt="" />
      <div class="card__time">
        <img class="card__time--clock" src="/assets/img/clock.png" alt="" />
        <span>Terça feira, 14:30</span>
      </div>
      <h3 class="title--3">{{noticia.title}}</h3>
      <p>{{(noticia.body.length>300)? (noticia.body | slice:0:300)+'...':(noticia.body)}}</p>
    </div>
  </div>
</div>

<div class="container">
  <span class="title--mini">Parceiros</span>
  <h2 class="title--2">Nossos parceiros</h2>
  <div class="client">
    <img class="client__item" src="assets/img/client1.png" />
    <img class="client__item" src="assets/img/client2.png" />
    <img class="client__item" src="assets/img/client3.png" />
    <img class="client__item" src="assets/img/client4.png" />
    <img class="client__item" src="assets/img/client5.png" />
  </div>
</div>

<div class="banner contact" id="contacto">
  <form class="contact__form" [formGroup]="contactForm">
    <span class="title--mini">Contacto</span>u
    <h2 class="title--2">Fale connosco</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum provident
      ea quisquam voluptatibus pariatur incidunt? Doloribus temporibus deleniti
      architecto perspiciatis deserunt sed dolores voluptate minima!
    </p>

    <div class="form__group">
      <label class="form__label">Empresa/ Entidade/ Instituição</label>
      <input type="text" formControlName="name" class="form__input" placeholder="Nome"
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
    </div>
    <div class="form__group">
      <label class="form__label">Assunto</label>
      <input type="text" formControlName="assunto" class="form__input" placeholder="Assunto"
        [ngClass]="{ 'is-invalid': submitted && f['assunto'].errors }" />
    </div>
    <div class="form__flex">
      <div class="form__group w-50">
        <label class="form__label">Contacto</label>
        <input type="tel" formControlName="contact" class="form__input" placeholder="+258 XXXXXXXXX"
          [ngClass]="{ 'is-invalid': submitted && f['contact'].errors }" />
      </div>
      <div class="form__group w-50">
        <label class="form__label">Email</label>
        <input type="email" formControlName="email" class="form__input" placeholder="exemplo@email.com"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
      </div>
    </div>
    <div class="form__group">
      <label class="form__label">Mensagem</label>
      <textarea class="form__input textarea" formControlName="description" placeholder="mensagem"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
    </div>
    <button class="btn btn--main btn--full" (click)="onSubmit()">Enviar mensagem</button>
  </form>
</div>
